/* FONTS */
@font-face {
  font-family: "Avenir LT Std";
  src: url("../fonts/AvenirLTStd-Light.eot");
  src: url("../fonts/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Light.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Light.woff") format("woff"),
    url("../fonts/AvenirLTStd-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  src: url("../fonts/AvenirLTStd-Medium.eot");
  src: url("../fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Medium.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Medium.woff") format("woff"),
    url("../fonts/AvenirLTStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  src: url("../fonts/AvenirLTStd-Roman.eot");
  src: url("../fonts/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Roman.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Roman.woff") format("woff"),
    url("../fonts/AvenirLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  src: url("../fonts/AvenirLTStd-Heavy.eot");
  src: url("../fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Heavy.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Heavy.woff") format("woff"),
    url("../fonts/AvenirLTStd-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("../fonts/AvenirLTStd-LightOblique.eot");
  src: url("../fonts/AvenirLTStd-LightOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/AvenirLTStd-LightOblique.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-LightOblique.woff") format("woff"),
    url("../fonts/AvenirLTStd-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
p {
  word-break: break-word;
  white-space: pre-wrap;
  word-wrap:break-word;
}
.clearfix {
  clear: both;
}
.form-group.null, .form-group.error-show{
  position: relative;
}
a, button {outline: 0 !important;}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #ddd;
}
::-webkit-scrollbar-thumb {
  background: #666; 
}
html {
  scroll-behavior: smooth;
}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
    padding: 0;
}
}
/* FONTS */
body {
  font-family: "Avenir LT Std", sans-serif;
  background: #fff;
  font-weight: normal;
}
a,
a:hover {
  text-decoration: none;
}
input {
  outline: 0 !important;
}
/* SCROLLBAR */

/* CUSTOM SELECT */
.custom-Select {
  position: relative;
}
.custom-Select select,
.custom-Select .multiSelect .multiselectInput {
  display: block;
  font-size: 12px;
  height: 50px;
  color: #4a4a4a;
  padding: 14px 20px 10px 15px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: solid 1px #d4d4d4;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fcfcfc;
  background-image: url(../images/mini-chevron.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 0.9em top 56%, 0 0;
  background-size: 0.9em auto, 100%;
}
.custom-Select select::-ms-expand {
  display: none;
}
.custom-Select select:hover {
  border-color: #888;
}
.custom-Select select option {
  font-weight: normal;
}
/* --CUSTOM MUTI SELECT-- */
.custom-Select .multiSelect .multiselectInput {
  background-image: none;
}
.custom-Select .multiSelect .multiselectInput::after {
  background-image: url(../images/mini-chevron.svg);
  background-repeat: no-repeat, repeat;
  background-position: center center;
  background-size: 10px 10px;
  border: 0;
  top: 20px;
  transform: rotate(0deg);
}
.custom-Select .multiSelect.open .multiselectInput {
  background: #fff;
  box-shadow: 0 2px 20px 0 rgba(33, 30, 60, 0.08);
  border-color: #fff;
}
.custom-Select .multiSelect.open .multiselectInput::after {
  transform: rotate(-180deg);
}
.custom-Select .multiSelect .search-result .searchInput input {
  box-shadow: none;
  margin: 0;
  padding: 5px 0;
  width: 100%;
  border-radius: 0;
  border: 0;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  border-bottom: 1px #d4d4d4 solid;
}
.custom-Select .multiSelect .search-result .searchIcon {
  display: none;
}
.custom-Select .multiSelect .list-result {
  margin: 10px 16px;
}
.custom-Select .multiSelect.open .search-result {
  border-color: #fff;
  margin-top: 10px;
  box-shadow: 0 2px 20px 0 rgba(33, 30, 60, 0.08);
}
.custom-Select .multiSelect .search-result .list-result label.container {
  line-height: 18px;
  color: #000;
  cursor: pointer;
  border-bottom: 0;
  padding: 0;
  max-width: inherit;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 500;
}
.custom-Select .multiSelect .search-result .list-result label.container input,
.custom-Select
  .multiSelect
  .search-result
  .list-result
  label.container
  .checkmark {
  display: none;
}
.custom-Select .multiSelect .search-result .searchInput {
  margin: 5px 15px;
}
.custom-Select .multiSelect .search-result .list-result label.container:hover {
  color: #0090ff;
}
.custom-Select .multiSelect .chip {
  top: 12px;
  left: 10px;
}
/* .custom-Select .multiSelect .search-result .list-result label.container:checked{
  font-weight: bold;
  color: #0090ff;
} */
.custom-Select .multiSelect .chip-body {
  background-color: transparent;
  color: #000;
}
.custom-Select .multiSelect .chip-body .chip-close {
  background-color: transparent;
}
.custom-Select .multiSelect .chip-body .chip-close:before,
.custom-Select .multiSelect .chip-body .chip-close:after {
  background-color: #000;
}
.custom-Select .multiSelect .chip-body p {
  padding: 5px 7px;
  font-size: 12px;
}

/* MULTI SELECT OPTION */
.custom-Select.Multi-Select
  .multiSelect
  .search-result
  .list-result
  label.container
  input,
.custom-Select.Multi-Select
  .multiSelect
  .search-result
  .list-result
  label.container
  .checkmark {
  display: block;
}
.custom-Select.Multi-Select
  .multiSelect
  .search-result
  .list-result
  label.container {
  padding-left: 30px;
}

/*-BUTTON-*/
.modal-container .btn-primary,
.modal-container .btn-secondary {
  border-radius: 4px;
  border-width: 1px;
}
.btn-primary {
  height: 33px;
  border-radius: 16.5px;
  background: #0090ff;
  padding: 4px 50px 7px;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  border: 2px #0090ff solid;
  outline: 0;
  width: 100%;
  cursor: pointer;
}
.btn-secondary {
  height: 33px;
  border-radius: 16.5px;
  background: #fff;
  padding: 4px 50px 7px;
  font-size: 14px;
  font-weight: 900;
  color: #0090ff;
  text-align: center;
  outline: 0;
  width: 100%;
  border: 2px #0090ff solid;
  cursor: pointer;
}
.btn-square {
  height: 27px;
  border-radius: 2px;
  background: #0090ff;
  padding: 5px 20px 6px;
  font-weight: 900;
  font-size: 12px;
  color: #fff !important;
  text-align: center;
  outline: 0;
  width: 100%;
  cursor: pointer;
}
.disable {
  pointer-events: none;
  cursor: default;
}
/*--INPUT--*/
.form-control:focus {
  box-shadow: none;
}
.form-control {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border: solid 1px #d4d4d4;
  background: #fcfcfc;
  color: #000;
  padding: 7px 15px;
  font-size: 12px;
}
.input-col {
  width: 100%;
  height: 33px;
  border-radius: 16.5px;
  border: solid 1px #d4d4d4;
  background: #fcfcfc;
  color: #4a4a4a;
  padding: 7px 15px;
  font-size: 14px;
}
/* .select-control{
  width: 100%;
	height:50px;
  border-radius: 2px;
  box-shadow: 0 2px 40px 0 rgba(33, 30, 60, 0.08);
	border: solid 1px #f9f9f9;
	background:#fff;
	color: #000;
	padding: 7px 15px;
	font-size:12px;
} */
/*--ERROR--*/
.error input {
  border-color: #e02020;
}
.i-error {
  color: #ff0000;
  font-size: 12px;
  text-align: left;
  display: block;
  padding:10px 0;
}
.s-error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* ADD THUMBNAIL */
.file-attach-col {
  padding:15px 0;
  position: relative;
}
.file-attach-col label.file {
  position: relative;
  width: 100%;
  height: 57px;
  border: 1px #8c8c8c dashed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-attach-col label.file input {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.file-attach-col .file-custom,
.file-attach-col .file-Uploded,
.add-file-col .file-Uploded {
  font-size:12px;
  font-weight:900;
  color: #4a4a4a;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  top: 0;
  bottom: 0;
  padding: 20px 0;
  cursor: pointer;
}
.file-attach-col .file-custom > span,
.file-attach-col .file-Uploded > span,
.add-file-col .file-Uploded > span {
  position: relative;
  display: inline-block;
}
.file-attach-col .file-custom > span::before {
  content: "";
  position: absolute;
  background: url(../images/upload-icon.svg) no-repeat center center / 20px auto;
  width: 20px;
  height: 14px;
  display: block;
  z-index: 1;
  margin-left: -30px;
  top:1px;
}
.file-attach-col .file-Uploded {
  display: block;
}
.file-attach-col .file-Uploded > span::before,
.add-file-col .file-Uploded > span::before {
  content: "";
  position: absolute;
  background: url(../images/done-tick.svg) no-repeat center -2px;
  width: 24px;
  height: 20px;
  display: block;
  z-index: 1;
  background-size: auto 20px;
  margin-left: -30px;
  opacity: 0.7;
}
.add-file-col .file-Uploded {
  position: relative;
  margin-bottom: 20px;
}
/* BLUE OVERLAY BOX */
.file-attach-col.blue-bg-col .file-Uploded > span::before,
.add-file-col .file-Uploded .file-Uploded > span::before {
  background: url(../images/done-tick-white.svg) no-repeat center -2px;
  opacity: 1;
}
.file-attach-col .file-Uploded {
  display: block;
  background: #fff;
  z-index: 2;
}
.file-attach-col.blue-bg-col .file-Uploded,
.add-file-col .file-Uploded {
  display: block;
  background-image: linear-gradient(to left, #0090ff, #00c3ff);
  color: #fff;
  z-index: 2;
  left: -1px;
  width: auto;
  right: -1px;
  top: -1px;
  bottom: -1px;
  border-radius: 4px;
}
.file-attach-col .file-Uploded .cls-btn,
.add-file-col .file-Uploded .cls-btn {
  background: url(../images/close-white.svg) no-repeat center center;
  background-size: auto 16px;
  margin-left: -30px;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.file-attach-col.blue-bg-col label {
  border-radius: 5px;
}
/* IMAGE UPLOAD */
.file-attach-col .Image-upload label.file {
  border: 0;
}
.file-attach-col .Image-upload .file-custom {
  border: 1px #8c8c8c dashed;
}
/* .file-attach-col .Image-upload .file-Uploded {
  padding-left: 110px;
  text-align: left;
  padding-top: 16px;
} */
.file-attach-col .Image-upload .File-img {
  /* width: 100px; */
  position: absolute;
  width: 98px;
  height: 57px;
  left: 0;
  top: 0;
}
.file-attach-col .Image-upload .file-Uploded > span::before {
  display: none;
}
.file-attach-col .Image-upload .File-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.file-attach-col .Image-upload .file-Uploded * {
  display: block;
  font-size: 11px;
  font-weight: 500;
}
.file-attach-col .Image-upload {
  position: relative;
}
.file-attach-col .Image-upload .file-Uploded a {
  color: #ff645a;
  cursor: pointer;
}
/* BLUE OVERLAY BOX */

/* ADD FILE */
/* .add-file-col {
  padding: 20px 0 10px;
  width: 194px;
} */
.add-file-col label.file {
  position: relative;
  cursor: pointer;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px;
  border-radius: 2px;
  box-shadow: 0 2px 40px 0 rgba(33, 30, 60, 0.08);
  padding: 0 20px;
}
.add-file-col label.file input {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.add-file-col label.file .file-custom {
  color: #0090ff;
  font-size: 12px;
  font-weight: normal;
}
.add-file-col label.file .file-custom img {
  height: 15px;
  margin-right: 5px;
  margin-bottom: 1px;
}
.add-file-col .file-Uploded > span::before {
  background: url(../images/done-tick-white.svg) no-repeat center -2px;
  opacity: 1;
}
/* ADD THUMBNAIL */

/* FORM GROUP */
.form-group label {
  display: block;
  font-size: 12px;
  font-weight: 900;
  color: #4a4a4a;
  margin-bottom: 20px;
}
.form-group label i {
  font-size: 12px;
  font-style: normal;
}
.form-group label em {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}
.form-group textarea {
  min-height: 119px;
  border-radius: 2px;
  border: solid 1px #d4d4d4;
  background-color: #fcfcfc;
  font-size: 12px;
  line-height: 14px;
  padding: 15px;
  width: 100%;
  resize: none;
  color: #4a4a4a;
}
.form-group label.center-label {
  position: relative;
  text-align: center;
  margin: 8px 0 25px;
}
.form-group label.center-label span {
  display: inline-block;
  background: #fff;
  position: relative;
  padding: 0 20px;
}
.form-group label.center-label::before {
  height: 1px;
  content: "";
  position: absolute;
  top: 45%;
  background: #eaeaea;
  left: 0;
  right: 0;
}
.form-group label.center-label .info-btn {
  position: absolute;
  right: 0;
  background: #fff;
  padding: 0 0 0 20px;
  top: -1px;
  cursor: pointer;
}
.form-group label.center-label .info-btn img {
  height: 15px;
}
.form-note {
  font-size: 12px;
  font-weight: normal;
  color: #4a4a4a;
  margin: -17px 0;
  display: block;
}
.add-comment-btn {
  display: inline-block;
  font-size: 11px;
  color: #0090ff !important;
  margin-bottom: 25px;
  cursor: pointer;
}
.add-comment-btn img {
  height: 15px;
  display: inline-block;
  margin: -3px 5px 0 0;
}

/* --CUSTOM CHECKBOX-- */
.checkbox-col ul,
.checkbox-col li {
  margin: 0;
  list-style: none;
  padding: 0;
}
.checkbox-col ul {
  padding: 16px 0 0;
}
.checkbox-col ul li {
  display: inline-block;
  list-style: none;
  margin-bottom: 10px;
  padding-right: 25px;
}
.checkbox {
  position: absolute;
  opacity: 0;
}
.checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 15px;
  height: 15px;
  background: white;
  border: 1px #0090ff solid;
  border-radius: 2px;
}
.checkbox:hover + label:before {
  background: #0090ff;
}
.checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.checkbox:checked + label:before {
  background: #0090ff;
}
.checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 2px;
  top:8px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* --END CUSTOM CHECKBOX-- */

/* CUSTOM RADIO */
.radio-col ul,
.radio-col li {
  margin: 0;
  list-style: none;
  padding: 0;
}
.radio-col ul {
  padding: 16px 0 0;
}
.radio-col ul li {
  display: inline-block;
  list-style: none;
  margin-bottom: 10px;
  padding-right: 20px;
  position: relative;
}
.radio-col input[type="radio"]:checked,
.radio-col input[type="radio"]:not(:checked) {
  position: absolute;
  opacity: 0;
  width: 15px;
  top: 4px;
  height: 15px;
}
.radio-col input[type="radio"]:checked + label,
.radio-col input[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #666;
  margin: 0;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 15px;
}
.radio-col input[type="radio"]:checked + label:before,
.radio-col input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #0090ff;
  border-radius: 50%;
  background: #fff;
}
.radio-col input[type="radio"]:checked + label:after,
.radio-col input[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: all 0.2s ease;
  border: 5px #0090ff solid;
}
.radio-col input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio-col input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* FORM GROUP ERROR */
.file-attach-col.error-show .error {
  /* position: absolute; */
  font-size: 12px;
  color: #ff0000;
  font-weight: 300;
  left: 220px;
  top: 50px;
}
.file-attach-col.error-show label.file {
  border-color: #e02020;
}
.form-group.error-show input,
.form-group.error-show select {
  border-color: #e02020;
}
.form-group label .error {
  color: #ff0000;
  font-size: 12px;
  font-weight: 300;
  padding-left: 20px;
}
/* .form-group .error{margin-top: 0;} */
.form-group .error,
.add-file-col .error {
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
}
.add-file-col .error {
  padding-bottom: 10px;
}
.form-group.error-show select,
.form-group.error-show input,
.form-group.error-show textarea,
.form-group.error-show .custom-Select .multiSelect .multiselectInput {
  border-color: #e02020;
}
.grecaptcha-badge {
  z-index: 10;
}


/* PASSWOR HINT */
.password-group{position: relative;}
.password-hint {
    position: absolute;
    right: -26px;
    top: 6px;
    text-align: inherit !important;
    cursor: pointer;
}
.password-tooltip::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 24px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
}
.password-hint:hover .password-tooltip{display: block;}
.password-tooltip {
    display: none;
    position: absolute;
    /* background: #fff; */
    border-radius: 4px;
    box-shadow:0 4px 10px 0 rgba(33, 30, 60, 0.10);
    background-color: #ffffff;
    width: 333px;
    top: -25px;
    left: 30px;
    padding: 10px;
    font-size: 12px;
    color: #4a4a4a;
    text-align: left;
    line-height: 15px;
}
.password-hint a {
  width: 20px;
  height: 20px;
  border: 1px #999 solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  color: #999 !important;
}
@media all and (-ms-high-contrast:none){
  .input-col{padding: 4px 15px;}
}
@-moz-document url-prefix() { 
  body{word-wrap: break-word;}
}